html,
body {
    width: 100%;
    background-color: rgb(10, 10, 10);
}



#cover {
    color: #ccc;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#devlog {
    color: #ccc;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

img 
{
	margin: 5px;
}

.partyparrot {
     margin-bottom: 35px;
     height: 60px;
}